/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */

#team {
  background: black;
}

.impressum {
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  align-self: auto;
  margin: 40px;
  background-size: contain;
}

p {
  color: black;
}

.module-title {
  margin: 0 0 40px;
}

.team {
  text-align: center;
}

.team-member {
  width: 220px;
  display: inline-block;
}

.icon-linkedin {
  font-size: 24px;
}

#artur {
  background-image: url("../../images/artur.jpg");
}

#evelyn {
  background-image: url("../../images/evelyn.jpeg");
}

#martin {
  background-image: url("../../images/martin.jpeg");
}

#montse {
  background-image: url("../../images/montse.jpg");
}

#natalia {
  background-image: url("../../images/natalia.jpg");
}

#mirela {
  background-image: url("../../images/mirela.jpg");
}

#aaina {
  background-image: url("../../images/aaina.jpg");
}

#david {
  background-image: url("../../images/david.jpg");
}

#ramya {
  background-image: url("../../images/ramya.jpg");
}

#fulya {
  background-image: url("../../images/fulya.jpg");
}

#apeksha {
  background-image: url("../../images/apeksha.jpg");
}

#suchi {
  background-image: url("../../images/suchi.jpg");
}

#isabel {
  background-image: url("../../images/isabel.jpg");
}

#rita {
  background-image: url("../../images/rita.jpg");
}

#monica {
  background-image: url("../../images/monica.jpg");
}

#mohamed {
  background-image: url("../../images/mohamed.jpg");
}

#konrad {
  background-image: url("../../images/konrad.jpg");
}

#supanuch {
  background-image: url("../../images/supanuch.jpg");
}

#nurol {
  background-image: url("../../images/nurol.jpg");
}

#irene {
  background-image: url("../../images/irene.jpg");
}

#nikolaus {
  background-image: url("../../images/nikolaus.jpg");
}

#kitty {
  background-image: url("../../images/kitty.jpg");
}
