/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */

#chess {
  background: black;
}

.impressum {
  margin: 50px;
}
